/********** FONT IMPORT **********/
@font-face {
    font-family: "Roboto Thin";
    src: url(./resources/fonts/roboto_thin.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(./resources/fonts/roboto_regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(./resources/fonts/roboto_black.ttf);
}

/********** VARIABLES **********/
:root {
    --main-color: rgb(62.5, 125, 250);
    --subline-color: rgb(50, 100, 200);
    --background-color: rgb(250, 250, 250);
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/********** SCROLLBAR **********/
::-webkit-scrollbar {
    width: 12.5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: var(--main-color);
}

/********** GENERAL **********/
body {
    font-family: "Roboto Regular", sans-serif;
    font-size: 1rem;
    background-color: var(--background-color);
}

a {
    color: var(--main-color);
}

h1 {
    font-family: "Roboto Black", sans-serif;
    text-transform: uppercase;
}

h2 {
    display: none;
}

h3 {
    font-family: "Roboto Thin", sans-serif;
    font-size: 2rem;
    color: var(--main-color);
}

h4 {
    font-family: "Roboto Black", sans-serif;
    font-size: 1.5rem;
    color: var(--main-color);
}

/********** HEADER **********/
header {
    position: fixed;
    width: 100%;
    height: 75px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(2.5px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.25),
                0 -2.5px 0 0 var(--background-color) inset;
    z-index: 9999;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    transition: 0.25s ease;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

nav ul a {
    text-transform: uppercase;
}

nav ul a:hover {
    text-decoration: underline;
}

nav button {
    padding: 12.5px 25px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 2.5px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.25s ease;
}

nav button:hover {
    background-color: var(--subline-color);
}

nav button:active {
    transform: scale(0.95);
}

/********** ABOUT SECTION **********/
#about {
    width: 100%;
    height: 100vh;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    text-align: center;
}

#gallery {
    width: 75%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_image_container {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_image {
    width: 100%;
    border-radius: 2.5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

#thumbnails {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    width: 70%;
    border-radius: 2.5px;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.thumbnail:active {
    transform: scale(0.95);
}

/********** FEATURES SECTION **********/
#features {
    height: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: white;
}

.feature {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature img {
    width: 35%;
}

.feature_description {
    width: 65%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
    text-align: center;
}

.reverse {
    flex-direction: row-reverse;
}

#description {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
    text-align: center;
}

/********** FOOTER **********/
footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: var(--background-color);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
}

.social_icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.25s ease;
}

.social_icon:hover {
    background-color: var(--subline-color);
}

.social_icon:active {
    transform: scale(0.95);
}

.social_icon img {
    width: 50px;
    height: 50px;
}

#copyright {
    text-transform: uppercase;
}

/********** MOVE TO TOP BUTTON **********/
#move_to_top_button {
    position: fixed;
    right: 25px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.25s ease;
}

#move_to_top_button:hover {
    background-color: var(--subline-color);
}

#move_to_top_button:active {
    transform: scale(0.95);
}

#move_to_top_button img {
    width: 25px;
}